body, div, object, iframe, h1, h2, h3, h4, h5, h6, a,
p, pre, del, em, dl, dt, dd, form, ul, ol, li, img
label, table, caption, tr, th, td {
    margin: 0px;
    padding: 0px;
    font-family: 宋体;
    /*sans-serif表示在浏览器不支持改字体的情况下，自动选择类似字体。*/
    list-style: none;
}
body{
    background: #e9eaed;
}
a{
    color: #ffffff;
    text-decoration: none;
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
}
/*header 博客主题设置*/
.header{
    width: 100%;
    height: 60px;
    background: #000;
}
.headerBox{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    line-height: 60px;
}
.headerBox h1{
    height: 100%;
    margin:0 75px 0 0;
    float: left;
}
/*网站导航列表*/
ul.nav{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.nav{
    height: 100%;
    float: left;
}
.nav li{
    float: left;
    margin-right: 20px;
}
/*a标签鼠标放置变色*/
.nav a:hover{
    color: #00c1de;
}
div .search{
    height: 100%;
    float: right;
}
/*头部搜索框*/
.search img{
    height: auto;
    margin: 18px auto;
    padding: 0;
}
/*main块*/
.main{
    width: 1200px;
    height: auto;
    margin: 20px auto 0;
    border-radius: 5px;
}
/*main左块*/
.mainLeft{
    width: 902px;
    height: auto;
    float: left;
}
.article{
    padding: 20px;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
}
.retitle{
    height: 39px;
    line-height: 39px;
    font-size: 16px;
    color: #333333;
    border-bottom: 1px solid #e9eaed;
    position: relative;
}
.retitle:before{
    content: '';
    display: block;
    width: 65px;
    height: 2px;
    background: #333333;
    position: absolute;
    left: 0;
    bottom: -1px;
}
.retitle:hover::before{
    width: 75px;
    transition: width .5s linear;
}
.title{
    overflow: hidden;
    line-height: 40px;
    border-bottom: 1px solid #e9eaed;
}
.title > h2{
    float: left;
    border-bottom: 0;
}
.title > p{
    font-size: 14px;
    color: #666666;
    float: right;
}
.title > p > span > a{
    color: #666666;
}
.contentTitle{
    font-size: 22px;
    color: #333333;
    margin-top: 20px;
}
.trivial{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.trivial .aboutMe{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #4ebbfe;
}
.trivial > span{
    margin: 0 5px;
}
.synopsis{
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    background: #e9eaed;
    line-height: 1.5;
}
.synopsis > b{
    margin-right: 10px;
}
.synopsis > span{

}
.text{
    margin-top: 20px;
    line-height: 20px;
}
.textImg{
    width: 720px;
    height: 800px;
    margin: 20px auto;
}
.tags{
    margin: 15px 0;
}
.share{
    margin: 15px 0;
    padding: 10px 20px;
    box-sizing: border-box;
    background: #e9eaed;
    line-height: 1.5;
}
.support{
    width: 160px;
    height: 40px;
    margin: 20px auto;
    padding: 10px 20px;
    box-sizing: border-box;
    background: #E2523A;
    border-radius: 5px;
    text-align: center;
}
.info{
    margin: 15px 0;
}
.info > a{
    color: #000000;
}
.info > a:hover{
    border-bottom: 1px solid #333333;
}
.aboutText{
    padding: 20px;
    box-sizing: border-box;
    margin: 20px 0;
    border-radius: 5px;
    background: #ffffff;
}
.aboutText > ul{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.aboutText > ul > li{
    width: 400px;
    margin: 5px 5px;
    position: relative;
}
.aboutText > ul > li::before{
    content: '';
    display: block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #000000;
    position: absolute;
    left: -5px;
    top: 50%;
    margin-top: -1px;
}
.random{
    background: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
}
.randomList{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.randomList > li{
    width: 205px;
}
.randomList > li > a > img{
    width: 205px;
    height: 140px;
}
.randomList > li > a > h2{
    color: #333333;
    font-size: 16px;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.randomList > li:hover > a > h2{
    margin-bottom: 10px;
    color: #000000;
}
.randomList > li > a > p{
    color: #333333;
    font-size: 14px;
    margin-top: 10px;
    display: -webkit-box;        /*必须结合的属性 ，将对象作为弹性伸缩盒子模型显示*/
    -webkit-box-orient: vertical;/*必须结合的属性 ，设置或检索子元素的排列方式*/
    -webkit-line-clamp: 3;      /*用来限制多行文本显示行数*/
    overflow: hidden;
}
.articleComment{
    margin: 20px 0;
    padding: 20px;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 5px;
}
.articleComment > ul > li{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #e9eaed;
}
.articleComment > ul > li > .commentImg{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}
.articleComment > ul > li > .commentImg > img{
    border-radius: 50%;
}
.articleComment > ul > li > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fbtime span:nth-child(1){
    display: block;
    float: left;
}
.fbtime{
    width: 100%;
}
.fbtime span:nth-child(2){
    display: block;
    float: right;
}
    /*main右块*/
.mainRight{
    width: 284px;
    height: auto;
    border-radius: 5px;
    float: right;
}
.mainRight a:hover img{
    transition: all .5s linear;
    transform: scale(1.1,1.1);
}
.mainRight .clickrank{
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #ffffff;
}
.clickrank .bequiet{
    display: block;
    width: 244px;
    height: 110px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 5px;
}
.bequiet center{
    color: #ffffff;
    width: 152px;
    height: 38px;
    position: absolute;
    left: 46px;
    top: 32px;
}
.clickranktList li::before{
    content: '1';
    width: 16px;
    height: 16px;
    color: #ffffff;
    background: #ff6600;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
    position: absolute;
    left: 7px;
    top: 7px;
}
.clickranktList li:nth-child(2)::before{
    content: '2';
    background: #ff6600;
}
.clickranktList li:nth-child(3)::before{
    content: '3';
    background: #ff6600;
}
.clickranktList li{
    height: 30px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    line-height: 30px;
}
.clickranktList a{
    width: 218px;
    float: right;
    margin-left: 10px;
    color: #333333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mainRight .statRecommed{
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #ffffff;
}
.statRecommed .principle{
    display: block;
    width: 244px;
    height: 110px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 5px;
}
.principle center{
    color: #ffffff;
    width: 152px;
    height: 38px;
    /*line-height: 1.5;*/
    display: -webkit-box;        /*必须结合的属性 ，将对象作为弹性伸缩盒子模型显示*/
    -webkit-box-orient: vertical;/*必须结合的属性 ，设置或检索子元素的排列方式*/
    -webkit-line-clamp: 2;      /*用来限制多行文本显示行数*/
    overflow: hidden;
    position: absolute;
    left: 46px;
    top: 32px;
}
.statRecommedtList{
    overflow: hidden;
}
.statRecommedtList li{
    width: 244px;
    height: 60px;
    margin-top: 10px;
    display: block;
}
.statRecommedtList a{
    display: block;
    color: #333333;
    width: 244px;
}
.statRecommedtList img{
    width: 70px;
    height: 60px;
    float: left;
}
.statRecommedtList li div{
    width: 154px;
    height: 40px;
    margin-left: 10px;
    float: left;
    margin: 10px 10px;
    display: -webkit-box;        /*必须结合的属性 ，将对象作为弹性伸缩盒子模型显示*/
    -webkit-box-orient: vertical;/*必须结合的属性 ，设置或检索子元素的排列方式*/
    -webkit-line-clamp: 2;      /*用来限制多行文本显示行数*/
    overflow: hidden;
}
.mainRight .MRimg{
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #ffffff;
}
.MRimg a{
    display: block;
    width: 244px;
    height: 174px;
    border-radius: 5px;
    overflow: hidden;
}
.MRimg:hover img{
    transform: scale(1.1,1.1);
    transition: all .5s linear;
}
.mainRight .tagCloud{
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #ffffff;
}
.tagCloud ul{
    overflow: hidden;
}
.tagCloud a{
    display: block;
    height: 21px;
    line-height: 21px;
    padding: 5px;
    margin: 10px 5px 0 0;
    border-radius: 5px;
    float: left;
    background: #e9eaed;
}
.tagCloud ul a:nth-child(5n){
    background: rgba(210, 219, 0, 0.75);
}
.tagCloud ul a:nth-child(5n-1){
    background: rgba(0, 203, 21, 0.75);
}
.tagCloud ul a:nth-child(5n-2){
    background: rgba(0, 121, 219, 0.75);
}
.tagCloud ul a:nth-child(5n-3){
    background: rgba(219, 0, 215, 0.75);
}
.tagCloud ul a:nth-child(5n-4){
    background: rgba(219, 86, 0, 0.75);
}
.mainRight .gLike{
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #ffffff;
}
.gLike .gLikelist{
    margin-top: 20px;
}
.gLike .gLikelist li{
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}
.gLikelist a{
    display: block;
    color: #333333;
    float: left;
    margin-left: 10px;
}
.gLikelist li::before{
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #333333;
    position: absolute;
    left: 0;
    top: 10px;
}
.mainRight .statInformation{
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #ffffff;
}
.statInformationList{
    margin-top: 20px;
}
/*尾部*/
.tail{
    width: 100%;
    padding: 30px 0;
    background: #333333;
    border-top: 10px solid #4ebbfe;
}
.tailMain{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.tailMain .tailMainL{
    width: 240px;
    padding: 0 10px;
    margin-right: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.tailMain > .tailMainL > p{
    width: 100px;
    margin-right: 20px;
    float: left;
}
.tailMain > .tailMainL > p > img{
    width: 100px;
    height: 100px;
    border-radius: 0;
}
.tailMain > .tailMainL > p > span{
    display: block;
    width: 100px;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}
.tailMainR b{
    color: #12b7de;
}
.tailMainR > ul > li{
    margin-top: 10px;
}
/*retop*/
.retop{
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 20px;
    bottom: 10%;
    background: #000000;
}