body, div, object, iframe, h1, h2, h3, h4, h5, h6, a,
p, pre, del, em, dl, dt, dd, form, ul, ol, li, img
label, table, caption, tr, th, td {
    margin: 0px;
    padding: 0px;
    font-family: 宋体;
    /*sans-serif表示在浏览器不支持改字体的情况下，自动选择类似字体。*/
    list-style: none;
}
body{
    background: #e9eaed;
}
a{
    color: #ffffff;
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
}
/*header 博客主题设置*/
.header{
    width: 100%;
    height: 60px;
    background: #000;
}
.headerBox{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    line-height: 60px;
}
.headerBox h1{
    height: 100%;
    margin:0 75px 0 0;
    float: left;
}
/*网站导航列表*/
ul.nav{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.nav{
    height: 100%;
    float: left;
}
.nav li{
    float: left;
    margin-right: 20px;
}
/*a标签鼠标放置变色*/
.nav a:hover{
    color: #00c1de;
}
div .search{
    height: 100%;
    float: right;
}
/*头部搜索框*/
.search img{
    height: auto;
    margin: 18px auto;
    padding: 0;
}
.main{
    width: 1160px;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    min-height: 800px;
    background: #ffffff;
}
.main div{
    width: 1160px;
    margin-top: 10px;
    overflow: hidden;
}
.main div > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    float: left;
    margin-right: 10px;
}
.main form{
    overflow: hidden;
    margin-bottom: 20px;
}
.main form > textarea{
    width: 1150px;
    min-height: 300px;
}
.main form > input{
    padding: 4px 16px;
    margin-top: 10px;
    box-sizing: border-box;
    font-style: normal;
    border: 0;
    border-radius: 5px;
    display: block;
    float: right;
    color: #ffffff;
    background: #000000;
}
.main .comment{
    width: 1140px;
    padding: 20px 10px;
    overflow: hidden;
    border-bottom: 1px solid #e9eaed;
}
.main .comment .commentL{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.main .comment .commentR{
    width: 1080px;
    float: left;
    overflow: hidden;
}
.main .comment .commentR p span{
    color: #e9eaed;
    display: block;
    float: right;
}
.main .comment .commentR div{
    width: 1080px;
}
.main .reply{
    width: 1160px;
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom:1px dashed #e9eaed;
    overflow: hidden;
}
.main .reply p{
    width: 1140px;
    height: 20px;
    padding: 10px 10px;
    background: #e9eaed;
    float: left;
}
.retitle{
    height: 39px;
    line-height: 39px;
    font-size: 16px;
    color: #333333;
    border-bottom: 1px solid #e9eaed;
    position: relative;
}
.retitle:hover::before{
    width: 75px;
    transition: width .5s linear;
}
.retitle:before{
    content: '';
    display: block;
    width: 65px;
    height: 2px;
    background: #333333;
    position: absolute;
    left: 0;
    bottom: -1px;
}
.tail{
    width: 100%;
    padding: 30px 0;
    background: #333333;
    border-top: 10px solid #4ebbfe;
}
.tailMain{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.tailMain .tailMainL{
    width: 240px;
    padding: 0 10px;
    margin-right: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.tailMain > .tailMainL > p{
    width: 100px;
    margin-right: 20px;
    float: left;
}
.tailMain > .tailMainL > p > img{
    width: 100px;
    height: 100px;
    border-radius: 0;
}
.tailMain > .tailMainL > p > span{
    display: block;
    width: 100px;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}
.tailMainR b{
    color: #12b7de;
}
.tailMainR > ul > li{
    margin-top: 10px;
}
.retop{
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 20px;
    bottom: 10%;
    background: #000000;
}